body{
    padding: 0;
    margin:0;
}

.header-redes{
    background:#BEBEBE;
    height: 40px;
}

.fa{
    font-size: 28px!important;
    margin: 5px;
}

.header-logo{
    height: 100px;
}

.header-logo img{
    width: 300px;
    margin-top: 30px;
    height: 50px;
}

.conteudo{
    min-height: 1200px;
}

